#bjr{
    text-align: center;
}
.ft{
    text-align: right;
    float:right;
    margin-right: 50px;
}
body{
    background-color: #f8f8ff;
}
footer h2,h6,.row{
    margin-left: 50px;
}

.lien{
    color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 874b05f798ad2e80470ce2e110d83b1b94f53995
