#hey{
    text-align: center;
}
.droite{
    margin-left: 50px;
}
body{
    background-color:#fff5ee;
}
.ft{
    text-align: right;
    float:right;
    margin-right: 50px;
}
.lien{
    color: white;
}
